<h1> Compare the Weather of Cities Around the World </h1>

<h4> Compare all cities </h4>

<table class="CitiesTable">

  <tr>
    <th>City Name</th>
    <th>Pressure</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Percentage Cloud Cover</th>
  </tr>


<% @lookup.each do |l| %>
  <tr>
    <td><%= l["name"] %></td>
    <td><%= l["main"]["pressure"] %></td>
    <td><%= l["main"]["temp"] %></td>
    <td><%= l["main"]["humidity"] %></td>
    <td><%= l["clouds"]["all"] %></td>
  </tr>
<% end %>

</table>


<h4> Best Weather </h4>
 <p>Best Temp</p>
 <p><%= @temp %></p>

 <p> Highest Pressure </p>
 <p><%= @pressure %></p>

 <p> Lowest Humidity </p>
 <p><%= @humidity %></p>

 <p> Lowest Cloud Cover </p>
 <p><%= @clouds %></p>
