<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "script" %>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"> 
</head>

<body>

<div class="header">
  <div class="text-container">
   <h1 class="title"> Compare the Weather of Cities Around the World </h1>
   <a class="arrow" href="#section2"><span></span>&#9660;</a>
  </div>
</div>

<section id="section2">

<h4> Compare all cities </h4>

<table class="CitiesTable">

  <tr>
    <th>City Name</th>
    <th>Pressure</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Percentage Cloud Cover</th>
  </tr>

<% @lookup.each do |l| %>
  <tr>
    <td><%= l["name"] %></td>
    <td><%= l["main"]["pressure"] %></td>
    <td><%= l["main"]["temp"] %></td>
    <td><%= l["main"]["humidity"] %></td>
    <td><%= l["clouds"]["all"] %></td>
  </tr>
<% end %>

</table>

<h4> Best Weather </h4>


<table class="CitiesTable">
    <tr>Hottest Temperature</tr>
    <tr>Highest Pressure</tr>
    <tr>Lowest Humidity</tr>
    <tr>Lowest Percentage Cloud Cover</tr>

<% @best.each do |b| %>
    <td><%= b[0] %></td>
    <td><%= b[1] %></td>
    <td><%= b[2] %></td>
    <td><%= b[3] %></td>
<% end %>
</table>

<h4>Recommended city:</h4>
<p><%= @recommend %></p>

</section>

</body>
</html>




